* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.2 Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
}
header img {
  width: 100px;
}
nav {
  display: flex;
  flex-direction: column;
}
nav a {
  text-transform: uppercase;
  font-weight: 800;
  padding: 10px 15px;
  border-bottom: 1px solid #a19b9b;
  background-color: #ececec;
  text-align: left;
}
nav a:first-of-type {
  border-top: 1px solid #a19b9b;
}
header img {
  padding: 10px;
}
article img {
  width: 84%;
}
a {
  text-decoration: none;
  color: #333;
}
.banner {
  background: #000 url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
  max-width: 100%;
}
h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  line-height: 24px;
  font-size: 18px;
  padding: 10px;
}
h1,
footer {
  color: #fff;
  background-color: #39c2d7;
}
.news {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  text-align: center;
}
article {
  background-color: #ccc;
  padding: 15px;
}
article p,
h3 {
  text-align: left;
}
h3 {
  margin-top: 6px;
  margin-bottom: 6px;
}
footer {
  text-align: center;
  font-weight: bold;
}
footer .links {
  display: flex;
  flex-direction: column;
}
footer a {
  color: #fff;
  text-decoration: underline;
  line-height: 20px;
}
footer p {
  padding-top: 20px;
}
.content:not(header) {
  padding: 20px;
}
@media (min-width: 575px) {
  .news {
    grid-template-columns: 1fr 1fr;
  }
  header {
    padding: 15px 0;
  }
  header img {
    width: 150px;
  }
  nav,
  footer .links {
    flex-direction: row;
    justify-content: center;
  }
  nav a,
  nav a:first-of-type {
    border: none;
    background-color: #fff;
  }
  nav a:hover {
    color: #39c2d7;
  }
  h1 {
    background-color: transparent;
    top: 30px;
    left: 150px;
    right: 150px;
    text-align: center;
  }
  article {
    padding-bottom: 20px;
  }
  article img {
    width: 76%;
  }
  article:hover {
    background-color: #39c2d7;
  }
  footer a {
    margin: 0 10px;
  }
  footer a:hover {
    text-decoration: none;
  }
}
@media (min-width: 900px) {
  .news {
    grid-template-columns: repeat(3, 1fr);
  }
  .content {
    max-width: 80%;
    margin: auto;
  }
  nav a {
    padding-top: 22px;
    font-size: 16px;
  }
  h1 {
    top: 50px;
    left: 10%;
    width: 300px;
    font-size: 2.5em;
    font-weight: 100;
    line-height: 40px;
    text-align: left;
  }
  article img {
    width: 100%;
  }
  footer {
    line-height: 20px;
  }
  header,
  footer .content {
    display: flex;
    flex-direction: row;
  }
  footer a {
    margin: 0;
    margin-right: 20px;
  }
  footer p {
    padding: 0;
  }
}
