<div class="schedule-wrapper">
  <h3>Epam FE Lab #8</h3>
  <button (click)="adding=true" class="button">Add</button>
  <div class="schedule">
    <div class="class">
      <p class="col">#</p>
      <p class="col">Topic</p>
      <p class="col">Date</p>
      <p class="col">Lecturer</p>
      <p class="col">Actions</p>
    </div>
    <app-class *ngFor="let class of classes" [class]="class">
    </app-class>
    <div *ngIf="adding" class="class">
      <p class="col">#</p>
      <input type="text" [(ngModel)]="newTopic.topic" name="topic" class="col-input">
      <input type="date" [(ngModel)]="newTopic.date" name="date" class="col-input">
      <input type="text" [(ngModel)]="newTopic.lecturer" name="lecturer" class="col-input">
      <button type="submit" (click)="addClass()" class="col-input">Add</button>
    </div>
  </div>
</div>