$base-color: #fccd10;
$base-light-color: lighten($base-color, 15%);
$base-dark-color: darken($base-color, 10%);
$base-desaturate-color: desaturate($base-color, 20%);
$body-color: rgba(198, 238, 252, 0.53);
$bg-color: #3b3b3b;
$text-color: #fff;
$bt-color: #f5c70f;
$text-transform: uppercase;
$table-bg-color: #677d01;
$table-caption-color: #000;
$table-secondary-color: #94a34e;
$label-color: $bt-color;
$brief-width: 96%;
$brief-margin: 0 0 40px 0;
$brief-color: #fff178;
