$h2-colo: rgba(198, 238, 252, 0.53);
$h2-colo: #fff178;
$h2-colr: #3b3b3b;
$h2-coor: #fccd10;
$h2-clor: #94a34e;
$h2-olor: #677d01;
$h2color: #f5c70f;

$base-color: #fccd10;
$body-color: rgba(198, 238, 252, 0.53);
$max-width: 950px;
$bg-color: #3b3b3b;
$bt-color: #f5c70f;
$text-color: #fff;
$text-transform: uppercase;
$table-bg-color: #677d01;
$table-secondary-color: #94a34e;
$base-color-light: lighten($base-color, 15%);
$base-color-dark: darken($base-color, 10%);
$base-color-desaturate: desaturate($base-color, 20%);
