$h2-colo: #dcbb9a;
$h2-colr: #fadcba;
$h2-coor: #ffffff;
$h2-clor: #893c00;
$h2-olor: #000000;
$h2color: #3d70a1;
$h-color: #e0e0e0;
$h2color: #808080;

$max-width: 950px;
$body-color: #dcbb9a;
$bg-color: #fff;
$base-color: #893c00;
$th-color: #e0e0e0;
$bt-color: #3d70a1;
$text-color: #000;
$text-transform: capitalize;
$bg-table-color: #fff;
$base-color-light: lighten($base-color, 15%);
$base-color-dark: darken($base-color, 10%);
$base-color-desaturate: desaturate($base-color, 20%);
